<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Aquí no hay nada que ver</h1>
  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
